.home-header
  .home-header-contents
    .home-header-top
      .app-icon-box 
      .home-menu
        %ul.menu-lists
          %li.menu-option
            =link_to "アーカイブ", "/"
          %li.menu-option
            =link_to "ログイン", "/"

    .header-message-box
      %h1 おしゃれな印刷の世界
      %p 活版印刷のお店やワークショップを探すことができます。

    .home-search-form
      .form-explanation エリア・キーワードから探す
      .search-box
        %form.shop_search
          %input{class: "search-box__content left-content", name: "key", type: "text", placeholder: "キーワード[例:活版印刷]"}
          %input{class: "search-box__content right-content", name: "key", type: "text", placeholder: "エリア[例:東京]"}
          %input{type: "submit", value: "検索", class: "search-box__submit"}