.home-header
  .home-header-contents
    .home-header-top
      .app-icon-box 
        =link_to image_tag('/logo (2).png', alt: 'CAPPAN.com'), "/"
      .home-menu
        %ul.menu-lists
          - if user_signed_in?
            %li.menu-option
              =link_to "商品登録", "shops/new"
            %li.menu-option
              =link_to "マイページ", "/"
            %li.menu-option
              =link_to "ログアウト", destroy_user_session_path, method: :delete
          - else
            %li.menu-option
              =link_to "アーカイブ", "/"
            %li.menu-option
              =link_to "ログイン", "users/sign_in"
            %li.menu-option
              =link_to "会員登録", "users/sign_up"

    .header-message-box
      %h1 活版印刷のお店探しは
      %h1 CAPPAN.com

    .home-search-form
      .form-explanation エリア・キーワードから探す
      .search-box
        %form.shop_search
          %input{class: "search-box__content left-content", name: "key", type: "text", placeholder: "キーワード[例:活版印刷]"}
          %input{class: "search-box__content right-content", name: "key", type: "text", placeholder: "エリア[例:東京]"}
          %input{type: "submit", value: "検索", class: "search-box__submit"}