.header {
  width: 100%;
  height: 96px;
  &__border {
    min-width: 1280px;
    border-bottom: solid 1px #F0EADE;
    .header-wrapper {
      max-width: 1600px;
      min-width: 1280px;
      margin: 0 auto;
      padding: 0 240px 0;
      display: flex;
      height: 96px;
      justify-content: space-between;
      // background-color: #F0EADE;
      a {
        text-decoration: none;
        color: black;
      }
      .page-name {
        .app-icon-box {
          height: 56px;
          width: 160px;
          line-height: 96px;
        }
      }
      .menu {
        display: flex;
        align-items: center;
        position: relative;
        .menu-list {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          font-size: 14px;
          .menu-option {
            margin: 0px 10px;
          }
        }
      }
    }
  }
}