// 全体
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

// ここからheader
.home-wrapper {
  margin: 0 auto;
  .home-header {
    height: 600px;
    width: 100%;
    min-width: 1280px;
    // background-color: beige;
    background-image: url(/1694959_m.jpg);
    .home-header-contents {
      max-width: 1600px;
      min-width: 1280px;
      margin: 0 auto;
      padding: 0 64px 0;
      .home-header-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 80px;
        padding: 10px;
        .app-icon-box {
          padding-top: 20px;
        }
        .home-menu {
          .menu-lists {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 60px;
            line-height: 60px;
            .menu-option {
              height: 100%;
              margin: 10px;
              a {
                color: white;
              }
            }
          }
        }
      }
    }
  }

  .header-message-box {
    // display: flex;
    // align-items: center;
    width: 600px;
    height: 300px;
    margin: 48px 0px 48px 128px;
    background-color: rgba(255,255,255,0.7);
    color: #A98752;
    font-size: 52px;
    text-align: center;
    padding-top: 100px;
    font-weight: bold;
    p {
      font-size: 15px;
    }
  }

  .home-search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1472px;
    min-width: 960px;
    width: 100%;
    height: 96px;
    margin: 0 auto;
    padding: 0 40px 0;
    background-color: white;
    color: #A98752;
    font-size: 0;
    .form-explanation {
      width: 216px;
      margin-right: 24px;
      font-size: 16px;
    }
    .search-box {
      position: relative;
      width: calc(100% - 240px);
      height: 56px;
      border: solid 1px #A98752;
      border-radius: 6px;
      .search-box__content {
        width: calc((100% - 240px)/2);
        height: 54px;
        padding: 0 8px;
        border: none;
        outline: none;
        font-size: 16px;
        input {
          color: #F0EADE;
        }
      }
      .left-content {
        border-radius: 6px 0 0 6px;
        border-right: solid 1px #A98752;
      }
      .search-box__submit {
        position: absolute;
        top: 0;
        right: 0;
        width: 120px;
        height: 54px;
        border: none;
        border-radius: 0 5px 5px 0;
        outline: none;
        background-color: #A98752;
        color: white;
        font-size: 16px;
      }
    }
  }
}

// ここからmain

.clearfix:before {
  display: table;
  content: " ";
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.home-main {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  min-width: 1280px;
  margin: 0 auto;
  padding: 24px 64px;
  .search-main {
    min-width: 800px;
    width: 960px;
    padding: 32px;
    .search-area {
      h2 {
        font-size: 24px;
        font-weight: bold;
      }
      .seach-area__area {
        margin-top: 16px;
        padding: 12px 24px;
        border: solid 1px lightgray;
        border-radius: 4px;
        box-shadow: 0 0 4px lightgrey;
        .selected-area {
          display: flex;
          align-items: center;
          padding: 8px;
          .selected-area__name {
            margin-right: 24px;
            font-size: 24px;
            font-weight: bold;
          }
          .selected-area__store-count {
            font-size: 16px;
          }
        }
        .top-areas {
          display: flex;
          .top-area {
            a {
              text-decoration: none;
              color: black;
            }
            .top-area-link {
              display: flex;
              align-items: center;
              height: 48px;
              margin: 4px;
              padding: 0 16px 0;
              border: solid 1px lightgray;
              border-radius: 4px;
              box-shadow: 0 0 4px lightgrey;
              cursor: pointer;
              .top-area-box {
                .top-area-name {
                  font-size: 16px;
                  font-weight: bold;
                }
                .top-area-shop-count {
                  font-size: 12px;
                }
              }
            }
          }
        }
        .area-list {
          padding: 20px 8px 4px 8px;
          width: 100%;
          .all-area:before {
            position: absolute;
            top: .35em;
            left: 0;
            width: 0;
            height: 0;
            border-width: 4px;
            border-style: solid;
            border-color: transparent transparent transparent orange;
            content: "";
          }
          .all-area {
            float: left;
            position: relative;
            width: 25%;
            height: 28px;
            padding-left: 12px;
            font-size: 12px;
            cursor: pointer;
          }
          a {
            text-decoration: none;
            color: #4444db;
          }
        }
      }
    }
    .search-service {
      &__title {
        margin-top: 48px;
      }
      &__area {
        .top-services {
          display: flex;
          .top-service {
            .top-service-link {
              position: relative;
              display: block;
              width: 136px;
              margin: 8px 8px 8px 0;
              color: white;
              font-weight: bold;
              text-align: center;
              cursor: pointer;
              .top-service__img {
                height: 136px;
                width: 136px;
                object-fit: cover;
              }
              .top-service__name {
                position: absolute;
                bottom: 32px;
                width: 100%;
                font-size: 16px;
              }
              .top-service__store-count {
                position: absolute;
                bottom: 16px;
                width: 100%;
                font-size: 12px;
              }
            }
          }
        }
        .service-list {
          display: flex;
          .all-service {
            .service-link {
              float: left;
              padding: 6px 16px;
              margin: 4px 8px 4px 0;
              border: solid 1px lightgray;
              border-radius: 4px;
              box-shadow: 0 0 4px lightgrey;
              color: #424242;
              font-size: 12px;
              white-space: nowrap;
              cursor: pointer;
            }
          }
        }
      }
    }
    .search-feature {
      &__title {
        margin-top: 48px;
      }
      .slide-wrapper {
        position: relative;
        margin: 0 auto;
        max-width: 980px;
        .swiper-container {
          margin: 0 auto;
          position: relative;
          overflow: hidden;
          list-style: none;
          padding: 0;
          z-index: 1;
          .swiper-wrapper {
            margin-top: 15px;
            .swiper-slide {
              position: relative;
              img {
                width: 100%;
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}

// ここからfooter

.footer {
  min-width: 1280px;
  width: 100%;
  background-color: whitesmoke;
  .footer-wrap {
    height: 128px;
    max-width: 1600px;
    min-width: 1280px;
    margin: 0 auto;
    padding: 0 240px 0;
    &__top {
      display: flex;
      align-items: center;
      height: 50%;
      border-bottom: solid 1px lightgray;
      text-align: center;
      .language-list {
        display: flex;
        align-items: center;
        width: 320px;
        margin: 0 auto;
        color: gray;
        font-size: 12px;
        .language-title {
          width: 16%;
        }
        .language {
          padding: 0 8px;
          a {
            text-decoration: none;
          }
        }
      }
    }
    &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50%;
      color: gray;
      .sitemap {
        display: flex;
        margin: 0 auto;
        &__link {
          padding: 0 8px;
          font-size: 12px;
          a {
            color: gray;
          }
        }
      }
    }
  }
}